<!DOCTYPE html>
<html>
<head>
  <title>CrudApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
    <li><%= link_to "Packs", packs_path %></li>
    <li><%= link_to "Wolves", wolves_path %></li>
    <li><%= link_to "Create Pack", new_pack_path %></li>
    <li><%= link_to "Create Wolf", new_wolf_path %></li>
  <% end %>
</ul>

<%= yield %>

</body>
</html>
