<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @pack.state %>
</p>

<p>
  <strong>Size:</strong>
  <%= @pack.size %>
</p>

<p>
  <strong>Family pic:</strong>
  <img src="<%= @pack.family_pic %>" class="img">
</p>

<p>
  <strong>Wolves:</strong>
  <% @pack.wolves.each do |wolf| %>
      <tr>
        <td><%= wolf.gender %></td>
        <td><%= wolf.size %></td>
        <td><%= wolf.color %></td>
        <td><%= wolf.leader %></td>
      </tr>
    <% end %>
</p>

<%= link_to 'Edit', edit_pack_path(@pack) %> |
<%= link_to 'Back', packs_path %>
