<p id="notice"><%= notice %></p>

<img src="<%= @pack.family_pic %>" class="img">
<h1><%= @pack.state %></h1>
<h2><%= @pack.size %>wolves in the pack</h2>

<p>
  <strong>Wolves:</strong>
  <% @pack.wolves.each do |wolf| %>
      <tr>
        <td><%= wolf.gender %></td>
        <td><%= wolf.size %></td>
        <td><%= wolf.color %></td>
        <td><%= wolf.leader %></td>
      </tr>
    <% end %>
</p>

<%= link_to 'Edit', edit_pack_path(@pack) %> |
<%= link_to 'Back', packs_path %>
